:host {
    // display: flex;
    // flex-wrap: wrap;
    // background-color: transparent;
    // color: white;
    overflow-x: hidden;
    .textBlur {
        color: transparent;
        text-shadow: 0 0 1px #202122;
    }
    .navbar {
        box-shadow: none;
    }
    a:hover {
        color: red !important;
    }
    .dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }
    .box-shadow {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
    }
    .img-fluid {
        height: 300px !important;
    }
    .cart::after {
        display: none !important;
    }
    .dropdown-menu {
        top: 100%;
        left: unset !important;
        right: 0px !important;
        margin-top: var(--bs-dropdown-spacer);
    }
    .CartContainer {
        width: 300px;
        padding: 5px;
    }
     ::ng-deep {
        * {
            font-family: "Times New Roman", Times, serif;
        }
    }
    @media only screen and (max-width: 319px) {}
    @media only screen and (min-width: 320px) and (max-width: 359px) {}
    @media only screen and (min-width: 360px) and (max-width: 539px) {}
    @media only screen and (min-width: 540px) and (max-width: 767px) {}
    @media only screen and (min-width: 768px) and (max-width: 819px) {}
    @media only screen and (min-width: 820px) and (max-width: 911px) {}
    @media only screen and (min-width: 912px) and (max-width: 1023px) {}
    @media only screen and (min-width: 1024px) and (max-width: 1440px) {}
}